<div class="row" *ngIf="resultados.length ; else sinGif">
  <div  *ngFor="let gif of resultados" class="col-md-4 col-sm-6 my-animation">
    <div class="card mb-1">
      <img [src]="gif.images.downsized.url" alt="gif.title" class="card-img-top img-fluid">
      <div class="card-body ">
        <div class="row">
          <div class="col">
            <p class="card-text">{{gif.title}}</p>
          </div>
          <div class="col-1 me-1">
            <svg xmlns="http://www.w3.org/2000/svg" 
                 width="25" 
                 height="25" 
                 class="bi bi-heart-fill" 
                 viewBox="0 0 16 16"
                 (click)="favorito(gif)"
                 (mouseover)="fillIcon($event,gif.id)"
                 (mouseout)="fillIcon($event, gif.id)"
                 Favoritos
                 [esFavorito]=misFavoritos(gif.id)>
              <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #sinGif>
    <div class="alert alert-warning" role="alert">
      Aún no tienes favoritos 
      <svg xmlns="http://www.w3.org/2000/svg" 
      width="16" 
      height="16" 
      fill="#f72528" 
      class="bi bi-heart-fill" 
      viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
    </svg>!
    </div>
</ng-template>
