<div class="bg-dark border-right p-3" id="sidebar">
  <div class="text-center text-white" width="100" height="100">
    <img [src]="gifAleatorio.url" width="80" height="80" class="img-fluid rounded">
  </div>
  <h2 class="text-light mt-3">
    Gifs-App
  </h2>
  <hr class="text-white">

  <div class="list-group mb-2">
    <a href="#" 
       class="list-group-item list-group-item-action bg-warning"
       (click)="trending()">
     Trending 
     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FF5733" class="bi bi-fire" viewBox="0 0 16 16">
      <path d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16Zm0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15Z"/>
    </svg>
    </a>
  </div>

  <div class="list-group mb-2">
    <a href="#" 
       class="list-group-item list-group-item-action bg-primary"
       (click)="coleccionDeFavoritos()">
     Favoritos 
     <svg xmlns="http://www.w3.org/2000/svg" 
                 width="16" 
                 height="16" 
                 fill="#f72528" 
                 class="bi bi-heart-fill" 
                 viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
      </svg>
    </a>
  </div>

  <hr class="text-white">
<h5 class="text-light">Historial</h5>
  <div class="list-group list-reset">
    <a *ngFor="let termino of listaHistorial; index as i" (click)="buscar(termino)" href="#" class="list-group-item list-group-item-action d-flex justify-content-between" >
      {{termino |titlecase}}
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="" class="bi bi-x-lg mt-1" (click)="eliminarDeHistorial(i)" viewBox="0 0 16 16">
        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
      </svg>
      
    </a>
  </div>

</div>